.page.theme_light {
  --font-family: "IBM Plex Mono", monospace;
  --main-font-size: 18px;
  --theme-switch-color: #353430;
  --theme-switch-hover-color: rgba(50, 49, 45, 0.40);
  --decorative-element-color: #353430;
  --title-color: #FFC2E6; /* текст no focus */
  --title-shadow-color: #FF8DCB; /* тень no focus */
  --link-shadow-color: #FF8DCB; /* цвет тени ссылки */
  --link-select-color: #353430;/* цвет подчеркивания ссылки */
  --accent-color: #FF8DCB; /* цвет фона залитых блоков */
  --subtitle-color: #353430; /* цвет подзаголовков слева */
  --paragraph-title-color: #353430; /* цвет текста параграфов */
  --main-text-color: #353430;
  --main-background-color: #FFEDF5;
  --background-image: url("../images/cover-image-light.png");
}

.theme_light .header__decorative-element {
  display: none;
}

@media (min-width: 1024px) {
  .theme_light .main-title {
    text-shadow: 4px 4px 0px #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-family: "IBM Plex Mono", monospace;
    --main-font-size: 18px;
    --theme-switch-color: #353430;
    --theme-switch-hover-color: rgba(50, 49, 45, 0.40);
    --decorative-element-color: #353430;
    --title-color: #FFC2E6; /* текст no focus */
    --title-shadow-color: #FF8DCB; /* тень no focus */
    --link-shadow-color: #FF8DCB; /* цвет тени ссылки */
    --link-select-color: #353430;/* цвет подчеркивания ссылки */
    --accent-color: #FF8DCB; /* цвет фона залитых блоков */
    --subtitle-color: #353430; /* цвет подзаголовков слева */
    --paragraph-title-color: #353430; /* цвет текста параграфов */
    --main-text-color: #353430;
    --main-background-color: #FFEDF5;
    --background-image: url("../images/cover-image-light.png");
  }
  
  .header__decorative-element {
    display: none;
  }

  @media (min-width: 1024px) {
    .main-title {
      text-shadow: 4px 4px 0px #FF0070;
    }
  }
}