/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", monospace;
  --main-font-size: 18px;
  --theme-switch-color: #FF0070;
  --theme-switch-hover-color: rgba(255, 0, 112, 0.40);
  --decorative-element-color: #FF0070;
  --title-color: #DB00FF; /* текст no focus */
  --title-shadow-color: #FF0070; /* тень no focus */
  --link-shadow-color: #FF0070; /* цвет тени ссылки */
  --link-select-color: #F1B2CE; /* цвет подчеркивания ссылки */
  --accent-color: #FF0070; /* цвет фона залитых блоков, тень ссылки */
  --subtitle-color: #FF0070; /* цвет подзаголовков слева */
  --paragraph-title-color: #000028; /* цвет текста параграфов */
  --main-text-color: #F1B2CE;
  --main-background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
}